*{
  margin: 0;
  padding: 0;
}
nav {
  display: flex;
  justify-content: space-around;
  padding: 1rem;
  background-color: #333;
  color: #fff;
}

nav a {
  color: #fff;
  text-decoration: none;
}

nav button {
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
}

nav a:hover, nav button:hover {
  text-decoration: underline;
}
